$color-1 : #eee;
$color-2 : #84cdfd;
$color-3 : #333;

*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 32px;
    max-width: 100%;
    width: 360px;
}

.progress-container::before  {
    content: '';
    background-color: $color-1;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: $color-2;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: $color-1;
    color: $color-3;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-3;
    transition: .4s ease;

}

.circle.active {
    border: 4px solid $color-2;
}

.btn {
    background-color: $color-2;
    color: $color-3;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 32px;
    margin: 6px;
    font-size: 16px;
}

.btn:hover{
    transform: scale(1.1);

}

.btn:active{
    transform: scale(0.92);
}

.btn:focus {
    outline: 0;
}



.btn:disabled{
    background-color: $color-1;
    transform: scale(1);
    
}

